.search-form {
  margin-bottom: 2rem;
  text-align: center;


  .search-input {
    width: 100%;
    max-width: 31.25rem;
    padding: 1rem;
    font-size: 1.1rem;
    border: 0.125rem solid #ddd;
    border-radius: 0.5rem;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-color: #007bff;
    }
  }
}
